/* Style the form */

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 90%;
    min-width: 300px;
}


/* Style the input fields */

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}


/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #ffdddd;
}


/* Hide all steps by default: */

.tab {
    display: none;
}


/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}


/* Mark the active step: */

.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #04AA6D;
}

.card {
    width: 300px;
    border-radius: 10px;
    margin: 50px;
    background: #f6f2d7;
    overflow: hidden;
}

.card-header {
    height: 90px;
    border: 2px solid #836602;
    border-bottom: 2px dotted #836602;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.card-header:before,
.card-header:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 100%;
    bottom: -12px;
    border: 2px solid #836602;
    box-sizing: border-box;
}

.card-header:before {
    left: -13px;
}

.card-header:after {
    right: -13px;
}

.card-body {
    height: 290px;
    border: 2px solid #836602;
    border-top: none;
    border-radius: 0 0 10px 10px;
}